<H2>Time Reports</H2>

<br />

<TABLE id="timeReport">
  <thead>
    <TR id="timeRep_dateNav"><TH colspan="7"> &laquo; PREVIOUS 7 Sep 2010 / 11 Sep 2010 (Week 23) &raquo;
    <TR id="timeRep_days"><TH> <TH>Mon <TH>Tue <TH>Wed <TH>Thu <TH>Fri <TH>
  </thead>
  <tfoot>
    <TR id="timeRep_footer"><TH> <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD><strong>6.1</strong>    
  </tfoot>
  <tbody>
    <TR id="timeRep_proj"><TH>Project 1    <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1
    <TR><TD>My first job <TD> <input id="blah" name="fer" size="2" type="text" /> <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1
    <TR><TD>My first job <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1
    <TR><TD>My first job <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1            
  </tbody>
  <tbody>    
    <TR id="timeRep_proj"><TH>Project 2    <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1    
    <TR><TD>Another job  <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1
    <TR><TD>Another job  <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1      
  </tbody>
</TABLE>
