<H2>Time Reports</H2>

<br />

<TABLE id="timeReport">
  <thead>
    <TR id="timeRep_dateNav"><TH colspan="7"> &laquo; PREVIOUS 7 Sep 2010 / 11 Sep 2010 (Week 23) &raquo;
    <TR id="timeRep_days"><TH> <TH>MON <TH>TUE <TH>WED <TH>THU <TH>FRI <TH>
  </thead>
  <tfoot>
    <TR id="timeRep_footer"><TH> <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD><strong>6.1</strong>    
  </tfoot>
  <tbody>
    <TR id="timeRep_proj"><TH>Project 1    <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1
    <TR><TD>My first job 
        <TD id="timeRep_hours"><input id="blah" name="mon"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="tue"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="wed"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="thu"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="fri"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="total" size="2" type="text" value="0"/>
    <TR><TD>My first job 
        <TD id="timeRep_hours"><input id="blah" name="mon"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="tue"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="wed"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="thu"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="fri"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="total" size="2" type="text" value="0"/>
    <TR><TD>My first job 
        <TD id="timeRep_hours"><input id="blah" name="mon"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="tue"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="wed"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="thu"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="fri"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="total" size="2" type="text" value="0"/>
  </tbody>
  <tbody>    
    <TR id="timeRep_proj"><TH>Project 2    <TD>1.9 <TD>0   <TD>0   <TD>4.2 <TD>0   <TD>6.1    
    <TR><TD>My first job 
        <TD id="timeRep_hours"><input id="blah" name="mon"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="tue"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="wed"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="thu"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="fri"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="total" size="2" type="text" value="0"/>
    <TR><TD>My first job 
        <TD id="timeRep_hours"><input id="blah" name="mon"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="tue"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="wed"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="thu"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="fri"   size="2" type="text" value="0"/>
        <TD id="timeRep_hours"><input id="blah" name="total" size="2" type="text" value="0"/>
  </tbody>
</TABLE>
