<h2><%= link_to 'Employees', employees_path %> &raquo; <%= link_to @employee.full_name, employee_path %> &raquo; Editing Employee</h2>

<div id="mainContent">	
    <%= render :partial => 'employees/form_employee' %>
</div>

<div id="secondaryContent">
    <% if @employee.photo.exists? then %>
        <div class="module">
            <%= image_tag @employee.photo.url(:original), :size => "150x150" %><br/>
        </div>
    <% end %>

    <!-- TODO Add password-change link -->
    <div class="module">
        <p>Change Password</p>
    </div>
</div>