<h2>This will be the welcome page for every employee.</h2>
<br/>
<br/>
<p align="center"><strong> Please enjoy the application and report any issue with the 'Help' button on your left</strong></p>
<br/>
<br/>
<p align="center">Happy testing!</p>



<!--
    TODO Resolver como organizamos el main para los empleados... redirigir a algun sitio?
-->