body {font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;background-image:url("../images/background_login_screen.png");background-repeat:repeat-x;background-color:#511C05;color:#fff;}
a {color:#fff;}
#header {margin:40px auto;}
#header h1 {background-image:url(../images/logo_shp_big.png);background-repeat:no-repeat;display:block;width:350px;height:132px;}
#header h1 span {display:none;}
#content h2{text-align:center;font-family: "Lucida Grande";}
#content #notice,
#content #error { text-align:center; border:1px solid #fff; width:300px; margin:0 auto; }
#mainContent{margin:0 auto;width:300px;}
#mainContent form {background-color:#511C05;padding:10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
#mainContent form div.fields {margin:5px 0 ;padding:10px 5px;}
#mainContent form div.fields label {font-weight:bold;}
#mainContent form div.fields input.field {padding:4px;border:0;float:right;}

fieldset {border:0;}
fieldset legend {font-family: "Lucida Grande";font-weight:bold;font-size:14px;}