/* GRID */

.container_24 {margin:0 auto; width:994px;}
body {background-image: url(../images/header_background.png); background-repeat: repeat-x; background-position: left top; zoom:1; background-color:#e9e9e9;}
strong {font-weight:bold;}
a { color:#333; color:#006699; }
a:hover { color:#000; }

/* HEADER */

#header {  height:100px; }
#header h1 { margin:0; }
#header h1 a { text-decoration:none; margin-top: 10px; padding-top:20px; color:#fff; height:63px; display:block; background-image: url(../images/logo_shp.png); background-repeat:no-repeat; }
#header h1 a span {padding-left:90px; display:none; }

/* TITLE FONT */

#main_nav li a,
table.generic th,
#header h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {font-family: "Lucida Grande";}

/* MENU */

#main_nav { height:40px;float:right;}
#main_nav ul {margin:0;}
#main_nav li { float:left; list-style:none; margin:0; }
#main_nav li a {padding:8px 11px; margin: 0 0 0 1px; color:#fff; background-color:#3B1E02; text-decoration:none; display:block; font-size:16px; }
#main_nav li.active a {background-color:#e9e9e9; color:#333;}
#main_nav li.hover a,
#main_nav li a:hover {background-color:#532901;color:#fff;}

/* FIRST LEVEL */
#main_nav li ul {padding-bottom:10px;}
#main_nav li ul a { font-size:12px;background-color:#532901;}
#main_nav li ul a:hover { font-size:12px;background-color:#5A310B;}

#user_nav {float:right; height:60px; font-size:11px; color:#fff; }
#user_nav ul {margin:0;padding:0;}
#user_nav li {float:left; list-style:none; margin:0; }
#user_nav a { text-decoration:none; color:#fff; padding:0 0 0 20px; margin:5px 0 0 10px; display:block; background-repeat:no-repeat;background-position:left center; }
#user_nav a.user {background-image:url(../images/icon_user.png);}
#user_nav a.mail {background-image:url(../images/icon_mail_closed.png);}
#user_nav a.settings {background-image:url(../images/icon_preferences.png);}
#user_nav a.logout {background-image:url(../images/icon_logout.png); background-position: 2px center;}

/* DROPDOWN */

ul.dropdown { position: relative; z-index: 597; float: left; }
ul.dropdown,
ul.dropdown li,
ul.dropdown ul { list-style: none; margin: 0; padding: 0; }
ul.dropdown li { float: left; vertical-align: middle; zoom: 1; }
ul.dropdown li.hover,
ul.dropdown li:hover { position: relative; z-index: 599; cursor: default; }
ul.dropdown ul { display: none; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%; }
ul.dropdown ul li { float: none; width:180px; }
ul.dropdown ul ul { top: 1px; left: 99%; }
ul.dropdown li:hover > ul { display: block;}

/* CONTENT */
#content_top {margin-top:10px; height:12px; background-image: url(../images/main_background_top.png); background-repeat: no-repeat; background-position: center bottom; zoom:1; }

#content {background-image: url(../images/main_background_middle.png); background-repeat: repeat-y; background-position: center top; zoom:1; }
#content #wrapper {margin:0 auto;width:980px; padding:4px 0;}

#content h2 {font-size:18px;color:#000;margin:10px 0;}
#content h3 {font-size:16px;margin:10px 0;}
#content h4 {font-size:14px;color:#333;margin:10px 0;}

/* TABLES */

table.generic th.header {background-repeat:no-repeat;background-position:4px center; padding-left:16px; background-image:url(../images/icon_sort.png);}
table.generic th.headerSortUp {background-image:url(../images/icon_sort_up.png);}
table.generic th.headerSortDown {background-image:url(../images/icon_sort_down.png);}

table.generic {width:100%;margin-bottom:0;}
table.generic thead th { border-top:1px solid #A3C8DB;}
table.generic th { background-color:#cce0eb; font-size:12px; font-weight:bold; text-align:left; }
table.generic th,
table.generic td {padding:4px;}
table.generic th.actions {width:100px;}
table.generic td {font-size:12px;color:#000;padding-left:16px;}
table.generic td a {color:#666;}
table.generic td a:hover {color:#000;}
table.generic tr.odd td {}
table.generic tr.even td {background-color:#f7f7f7;}
table.generic tr.hover td {background-color:#eee;}
table.generic tr.totals td { border-top:1px solid #ccc; font-size:16px; }
table.generic td.actions {font-size:10px;}
table.generic tr td.actions {width:36px;}
table.generic tr td.actions span { display:none; }
table.generic tr.hover td.actions span { display:block; }

table.generic td.status {background-repeat:no-repeat;background-position:center center;width:10px;}
table.generic td.hours,
table.generic td.job,
table.generic td.expense,
table.generic td.name {font-weight:bold;}
table.generic td.job,
table.generic td.hours {text-align:center;}
table.generic td.expense {text-align:right;}
table.generic th.expenses {width:70px;}
table.generic th.jobs,
table.generic th.hours {width:40px;}
table.generic td.message {font-size:18px;font-weight:bold;text-align:center;padding:20px 0;background-color:#eee;}

table.generic_reports td {padding:0;}
table.generic_reports tr.odd td,
table.generic_reports tr.even td,
table.generic_reports tr.hover td {background-color:#fff;}
table.generic_reports th.project { text-align:left; }
table.generic_reports td.day,
table.generic_reports th.day { width:50px; text-align:center; }
table.generic_reports th.total_week { width:70px;}
table.generic_reports table {width:100%;border-bottom:1px solid #cacaca;margin:0;}
table.generic_reports table th {font-size:14px;font-weight:bold;color:#000;background-color:#fff;font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;text-align:center;}

table.generic_reports {margin-bottom:10px;}
table.generic_reports table tr.timeRep_proj {border-left:1px solid #eee;border-right:1px solid #eee; border-top:1px solid #ccc; cursor:pointer;}
table.generic_reports table tr.timeRep_proj th.project {-moz-user-select: none;-khtml-user-select: none;user-select: none; padding-left:25px; background-repeat:no-repeat;background-position:4px center; background-image:url(../images/icon_opened.png);}
table.generic_reports table tr.collapsed th.project {background-image:url(../images/icon_collapsed.png);}
table.generic_reports table td {border:1px solid #eee;text-align:center;}
table.generic_reports table td {padding:4px;}
table.generic_reports table td input {border:0;text-align:center;}
table.generic_reports table tr.timeRep_job td.title {text-align:left;padding-left:25px;}
table.generic_reports table tr.timeRep_job input {width:100%;border:1px solid #fff;}
table.generic_reports table tr.timeRep_job input:focus {border:1px solid #fd0;background-color:#ffffde;}
table.generic_reports table tr.timeRep_job input:hover {border:1px solid #fc0;background-color:#fc0;cursor:pointer;}

table.generic_reports table tr.signed_report input:focus,
table.generic_reports table tr.signed_report input:hover {border:1px solid #fff;background-color:#fff;cursor:default;}

table.generic_reports .totals td {font-size:16px;color:#777;font-weight:bold;padding:4px;}

#percentage_change {height:25px;font-size:16px;font-weight:bold;background-repeat:no-repeat;background-position:2px center;padding-left:20px;position:absolute;top:30px;right:0;}
#percentage_change.positive {color:#080;background-image: url(../images/icon_increase.png);}
#percentage_change.negative {color:#900;background-image: url(../images/icon_decrease.png);}

#container.expense_reports_graph {width: 100%; height: 300px; margin: 0 auto 10px auto}

/* NAVIGATION */
.navigation a.button_previous,
.navigation a.button_next {font-size:11px;font-weight:bold;}
.navigation a.button_previous {float:left;}
.navigation a.button_next {float:right;}

.breadcrumbs {font-size:12px; color:#666;}
.breadcrumbs a {font-weight:bold;}

/* PAGINATION */

.pagination {border-top:1px solid #cacaca;border-bottom:1px solid #E8E8E8;font-weight:bold;padding:4px;}
.pagination span.disabled {display:none;}
.pagination a {color:#999;font-size:12px;font-weight:bold;text-decoration:none;}
.pagination a:hover {text-decoration:underline;}

.pagination a,
.pagination .current {margin:0 10px 0 0;}

a.prev_page,
a.next_page {text-transform:uppercase;}

#project_list h2 {float:left;}
#project_list .status_selector {float:right;margin:10px 0;}

.note {font-size:11px;color:#999;text-align:right;}

.notice_message,
.error_message {padding:10px 10px 10px 44px;margin:10px 0;background-repeat:no-repeat;background-position:10px center;}
.notice_message {color:#080;background-color:#E1FFD1;border-top:1px solid #C5F8AC;border-bottom:1px solid #C5F8AC;background-image:url(../images/icon_check.png);}
.error_message {color:#800;background-color:#FFE9E3;border-top:1px solid #DEADAD;border-bottom:1px solid #DEADAD;background-image:url(../images/icon_warning.png);}

/* PROJECT PAGE */

#project_info dl {line-height:180%;}
#project_info dl dt {font-weight:bold;float:left;width:25%;color:#666;font-weight:bold;}
#project_info dl dd {float:left;width:75%;}
#project_info dl.team {float:left;width:50%;}
#project_info dl.dates {float:right;width:45%;}
#project_info dl.dates dd {text-align:right;}
#project_info .description { font-size:14px; }
#project_info h2 {float:left;margin-bottom:10px;}
#project_info .status {background-repeat:no-repeat;background-position:4px center;width:60px;font-size:11px;color:#666;padding-left:18px;float:right;margin-top:16px;}
.status_1 {background-image:url(../images/status_icons/160.png);}
.status_2 {background-image:url(../images/status_icons/152.png);}
.status_3 {background-image:url(../images/status_icons/153.png);}

p.meta {font-size:11px;color:#777;}
.highlight_box {
	padding:10px;
	margin:0;
	background-color:#F2F5F7;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

/* CLIENT, EMPLOYEE PAGE */
#employee_info h2 {margin:10px 0 0 0;}
#employee_info dl,
#client_info dl {line-height:180%;}
#employee_info dl dt,
#client_info dl dt {font-weight:bold;float:left;width:25%;color:#666;font-weight:bold;}
#employee_info dl dd,
#client_info dl dd {float:left;width:75%;}
#employee_info dl.details {width:50%;float:left;}
#employee_info .employee_type {width:30%; float:right;}
#employee_info .employee_type p {margin:0;}
#employee_info .employee_type p.level {font-size:16px;}
#employee_info .employee_type p.nif {font-size:14px;color:#666;}

/* SIDEBAR */
#sidebar {color:#666;font-size:12px;padding:10px 15px;}
#sidebar a {color:#333;}
#sidebar h3 {font-size:14px;color:#000;margin:4px 6px;}
#sidebar ul {border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0; list-style:none;padding:10px 6px;}
#sidebar ul li{margin:0;padding:4px;font-weight:bold;}
#sidebar form {margin:0 10px;}

#sidebar #options li:hover,
#sidebar #options li.selected {background-color:#EEF4F8;}
#sidebar #options a.button {-moz-user-select: none;-khtml-user-select: none;user-select: none;outline: none;padding:0px 0px 0px 22px;margin:0;display:block;background-position:2px top;background-repeat:no-repeat;font-weight:normal;text-decoration:none;height:16px;font-size:12px;line-height:140%;}
#sidebar #options a.active,
#sidebar #options li.selected a,
#sidebar #options a.button:hover {background-position:2px -16px;color:#000;}
#sidebar #options a.button_edit_password {background-image:url(../images/icon_password.png);}
#sidebar #options a.button_edit_profile {background-image:url(../images/icon_profile.png);}
#sidebar #options a.button_edit_picture {background-image:url(../images/icon_picture.png);}
#sidebar #options a.button_edit_project {background-image:url(../images/icon_project_settings.png);}
#sidebar #options a.button_list {background-image:url(../images/icon_list.png);}
#sidebar #options a.button_view {background-image:url(../images/icon_view.png);}
#sidebar #options a.button_delete {background-image:url(../images/icon_delete_project.png);}
#sidebar #options a.button_sign_report {background-image:url(../images/icon_sign_report.png);}
#sidebar #options a.button_save_report {background-image:url(../images/icon_save_report.png);}
#sidebar #options ul.reports li {font-size:11px;font-weight:normal;}
#sidebar #options ul.reports li a:hover {color:#000;}

#sidebar #options .confirm {font-size:11px;float:right;font-weight:normal;position:relative;top:-16px;display:none;}

#sidebar .employee_photo { margin:0 auto 10px auto; width:100%; padding:4px; text-align:center; background-color:#f7f7f7; border:1px solid #f1f1f1; }

/* FORMS ver formtastic.css */

form.formtastic fieldset > ol > li label { font-weight:bold; color:#333; }
form.formtastic > fieldset > legend { font-size:16px; font-weight:bold; color:#333; }
form.formtastic fieldset.inputs {
	background-color:#f7f7f7; border:1px solid #f1f1f1; padding:10px; margin-bottom:10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

form.formtastic fieldset > ol > li.string input, 
form.formtastic fieldset > ol > li.password input, 
form.formtastic fieldset > ol > li.numeric input,
form.formtastic fieldset > ol > li.email input,
form.formtastic fieldset > ol > li.url input,
form.formtastic fieldset > ol > li.phone input,
form.formtastic fieldset > ol > li.search input,
form.formtastic fieldset > ol > li.text textarea {
	border:1px solid #eee; padding:4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
}

form#side_form li {list-style:none;}
form#side_form li input {float:left;padding:4px;font-size:14px;line-height:130%;width:86px;color:#999;}

form.boxy-content {padding:20px;width:400px;}
form.boxy-content fieldset > ol > li label {width:35%;}

form#new_job.boxy-content fieldset > ol > li label {width:25%;}

/* MODAL WINDOWS */
.boxy-inner form#new_job {width:500px;padding:10px;}

/* BUTTONS */

a.grey_button { background: url(../images/background_button_right.png) no-repeat scroll right top transparent; border: 0; color: #fff !important; cursor: pointer; display: block; float: left; height: 30px; margin-right: 6px; padding-right: 12px !important; text-decoration: none; font-weight:bold; font-size:11px; margin:10px 0; }
a.grey_button span { background: url(../images/background_button_left.png) no-repeat scroll 0 0 transparent; display: block;line-height: 14px;padding: 8px 0 10px 10px;text-shadow: #000 1px 1px 3px; }

button.button {border:0px;width:86px;height:30px;margin-left:2px;}
button.button span {display:none;}
button.button_new_project {background: url(../images/button_new_project.png) no-repeat scroll 0 0 transparent;}

/*button.grey_button { padding-right: 9px !important; height:31px; background-position: right 1px; }*/

/* FOOTER */
#footer {padding-top:10px; background-image: url(../images/main_background_bottom.png); background-repeat: no-repeat; background-position: center top; zoom:1; }
#footer .copyright {font-weight:bold; color:#999;}
#footer .language_selector {text-align:right;}