<div class="breadcrumbs"><%= link_to 'Clients', clients_path %> &raquo; <%= link_to @client.name, @client %> &raquo; Edit</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title "Editing client", :h2 %>

<%= render :partial => 'clients/form_client' %>