<% content_for :head do %>

<% @weeks = @project.weeks %>

<script type="text/javascript">
var chart;

x_labels = [<% for week in @weeks %>"<%= show_date_range(week[0],week[1],'long', false) %>"<%= "," unless week == @weeks.last %><% end %>];

function label_text(label) {
	// label = label - 1;
	return x_labels[label];
}

$(document).ready(function() {
   chart = new Highcharts.Chart({
	  credits: { enabled:false },
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'column',
		marginTop: 60
      },
      title: {
         text: false
      },
      xAxis: {
		min: 1,
		allowDecimals: false,
		labels: {
			formatter: function() {
				return this.value;
			}
		},
		title: {
			text: "Week"
		}
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Total hours'
         }
      },
      legend: {
         align: 'right',
         x: 0,
         verticalAlign: 'top',
         y: 0,
         floating: true,
         backgroundColor: '#FFFFFF',
         borderColor: '#CCC',
         borderWidth: 1,
         shadow: false
      },
      tooltip: {
         formatter: function() {
            return '<b>'+ label_text(this.x) + '</b><br/>' + 
				'<b>'+ this.series.name + '</b><br/>' +
                'Employee hours: '+ this.y +'<br/>'+
                'Total hours: '+ this.point.stackTotal;
         }
      },
      plotOptions: {
         column: {
            stacking: 'normal'
         }
      },
		series: <%= @project.employees_hours(@weeks) %>
   });
   
   
});
</script>
<% end %>

<div id="container" class="hours_graph"></div>