<div class="breadcrumbs"><%= link_to 'Projects', projects_path %> &raquo; <%= link_to @project.name, @project %> &raquo; Edit Project</div>
<div class="clear"></div>

<%= render :partial => 'projects/form_project' %>