<div class="breadcrumbs"><%= link_to 'Projects', projects_path %> &raquo; Edit Project</div>
<div class="clear"></div>

<div id="mainContent">	
    <%= render :partial => 'projects/form_project' %>
</div>