<h2><%= link_to 'Projects', projects_path %> &raquo; Edit Project</h2>

<div id="mainContent">	
    <%= render :partial => 'projects/form_project' %>
    
    <%= link_to 'Show', @project %> |
    <%= link_to 'Back', projects_path %>
</div>