<div class="breadcrumbs"><%= link_to 'Projects', projects_path %> &raquo; New project</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= render :partial => 'projects/form_project', :locals => {:project => @project} %>