<div class="breadcrumbs"><%= link_to 'Projects', projects_path %> &raquo; New project</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title "New project", :h2 %>
<%= render :partial => 'projects/form_project', :locals => {:project => @project} %>

<% content_for :sidebar do %>
<div id="options">
<h3>Options</h3>
<ul>
<% permitted_to? :index, :projects do %>
<li><%= link_to 'Projects list', projects_path, :class => "button button_list" %></li>
<% end %>
</ul>
</div><!-- #options -->
<% end %>