<div class="breadcrumbs"><%= link_to 'Reports', "#" %> &raquo; <%= link_to "Expense Reports", expensereports_path %> &raquo; New Expense</div>
<div class="clear"></div>

<%= title "New Expense", :h2 %>

<%= render :partial => 'expensereports/form_expensereport', :locals => {:expensereport => @expensereport, :projects => @projects, :jobs => @jobs} %>