<% form_for :user, :url => { :action => "login" }, :html => {:id => 'login'} do |f| -%>
<fieldset>
	<legend>Employee Login</legend>
  	<div class="fields">
  		<label>Email</label>
		<%= f.text_field :email, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH, :class => "field" %>
  	</div>
	<div class="fields">
  		<label>Password</label>
		<%= f.password_field :password, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH, :class => "field" %>
  	</div>
  	<%= submit_tag 'Login' %>
  	<%= link_to 'Forgotten your password?', {:controller =>'site', :action => 'remind'}, {:class => 'more'} %>
</fieldset>
<% end -%>