<% form_for :user, :url => login_path, :html => {:id => 'login'} do |f| -%>

<fieldset>
<legend>Employee Login</legend>

<dl>
<dt><label>Email</label></dt>
<dd><%= f.text_field :email, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH, :class => "field" %></dd>

<dt><label>Password</label></dt>
<dd><%= f.password_field :password, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH, :class => "field" %></dd>

<dt><%= submit_tag 'Login', :class => "button button_submit" %></dt>
<dd><%= link_to 'Forgot your password?', forgot_password_path, :class => 'more' %></dd>

</dl>
</fieldset>

<% end -%>