<% form_for :site, :url => { :action => "remind" }, :html => {:id => 'login'} do |f| -%>
<fieldset>
	<legend>Forgot my Password</legend>
  	<div class="fields">
  		<label>Email</label>
		<%= f.text_field :email, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH, :class => "field" %>
  	</div>
	<div class="submit_field">
	  	<%= submit_tag 'I forgot my password!' %>
	</div>
</fieldset>
<% end -%>