<% form_for :site, :url => forgot_password_path, :html => {:id => 'login'} do |f| -%>
<fieldset>
<legend>Forgot password</legend>

<br />
<dl>
<label>Account email address</label><br />
<%= f.text_field :email, :size => TEXT_FIELD_SIZE, :maxlength => TEXT_FIELD_MAX_LENGTH, :class => "field" %>
<%= submit_tag 'Send', :class => "button button_send" %> <%= link_to 'Back to login', login_path %>
</dl>

</fieldset>
<% end -%>