<div class="breadcrumbs"><%= link_to 'Categories', categories_path %> &raquo; <%= @category.name %> &raquo; Edit</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title "Editing category", :h2 %>

<%= render :partial => 'categories/form_category' %>