<div class="breadcrumbs"><%= link_to 'Categories', categories_path %> &raquo; New</div><!-- .breadcrumbs -->
<div class="clear"></div>

<%= title "New category", :h2 %>

<%= render :partial => 'categories/form_category', :locals => {:category => @category} %>